<div class="container-{{ .Params.cssClassSuffix }}">
    <div class="hero">
    {{ block "hero" . }}
        <h1>
        {{ .Title }}
        </h1>
        {{ if .Params.subtitle }}
        <p class="subtitle">
        {{ .Params.subtitle }}
        </p>
        {{ end }}
        {{ if .Params.subsubtitle }}
        <p class="subsubtitle">
        {{ .Params.subsubtitle }}
        </p>
        {{ end }}
    {{ end }}
    </div>
</div>

<section class="{{ .Params.cssClassSuffix }}">
    <div class="container container-main {{ .Params.cssClassSuffix }}">
      <article class="{{ .Params.cssClassSuffix }}">
        {{ .Content }}
    	</article>
    </div>
  </section>